<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mayaya</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PictureAction</display-name>
    <servlet-name>PictureAction</servlet-name>
    <servlet-class>mayaya.action.PictureAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PictureAction</servlet-name>
    <url-pattern>/Actions/PictureAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>mayaya.action.UploadServlet</servlet-class>
    <init-param>
      <param-name>file-upload</param-name>
      <param-value>upload</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/Actions/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadCoverServlet</display-name>
    <servlet-name>UploadCoverServlet</servlet-name>
    <servlet-class>mayaya.action.UploadCoverServlet</servlet-class>
    <init-param>
      <param-name>file-upload</param-name>
      <param-value>user</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadCoverServlet</servlet-name>
    <url-pattern>/Actions/UploadCoverServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadHeadPicServlet</display-name>
    <servlet-name>UploadHeadPicServlet</servlet-name>
    <servlet-class>mayaya.action.UploadHeadPicServlet</servlet-class>
    <init-param>
      <param-name>file-upload</param-name>
      <param-value>user</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadHeadPicServlet</servlet-name>
    <url-pattern>/Actions/UploadHeadPicServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>mayaya.system.DaoInitialize</listener-class>
  </listener>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>CommentAction</display-name>
    <servlet-name>CommentAction</servlet-name>
    <servlet-class>mayaya.action.CommentAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentAction</servlet-name>
    <url-pattern>/Actions/CommentAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadCommentAction</display-name>
    <servlet-name>UploadCommentAction</servlet-name>
    <servlet-class>mayaya.action.UploadCommentAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadCommentAction</servlet-name>
    <url-pattern>/Actions/UploadCommentAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEventsAction</display-name>
    <servlet-name>GetEventsAction</servlet-name>
    <servlet-class>mayaya.action.GetEventsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEventsAction</servlet-name>
    <url-pattern>/Actions/GetEventsAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadEventAction</display-name>
    <servlet-name>UploadEventAction</servlet-name>
    <servlet-class>mayaya.action.UploadEventAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadEventAction</servlet-name>
    <url-pattern>/Actions/UploadEventAction</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthFilter</display-name>
    <filter-name>AuthFilter</filter-name>
    <filter-class>mayaya.util.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/Actions/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>PhotoWallAction</display-name>
    <servlet-name>PhotoWallAction</servlet-name>
    <servlet-class>mayaya.action.PhotoWallAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoWallAction</servlet-name>
    <url-pattern>/Actions/PhotoWallAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainPageAction</display-name>
    <servlet-name>MainPageAction</servlet-name>
    <servlet-class>mayaya.action.MainPageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainPageAction</servlet-name>
    <url-pattern>/Actions/MainPageAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyTelephone</display-name>
    <servlet-name>VerifyTelephone</servlet-name>
    <servlet-class>mayaya.action.VerifyTelephone</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyTelephone</servlet-name>
    <url-pattern>/VerifyTelephone</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyVeriCode</display-name>
    <servlet-name>VerifyVeriCode</servlet-name>
    <servlet-class>mayaya.action.VerifyVeriCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyVeriCode</servlet-name>
    <url-pattern>/VerifyVeriCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAction</display-name>
    <servlet-name>UserAction</servlet-name>
    <servlet-class>mayaya.action.UserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAction</servlet-name>
    <url-pattern>/Actions/UserAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetChildrenToTagAction</display-name>
    <servlet-name>GetChildrenToTagAction</servlet-name>
    <servlet-class>mayaya.action.GetChildrenToTagAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetChildrenToTagAction</servlet-name>
    <url-pattern>/Actions/GetChildrenToTagAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUserAction</display-name>
    <servlet-name>UpdateUserAction</servlet-name>
    <servlet-class>mayaya.action.UpdateUserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserAction</servlet-name>
    <url-pattern>/Actions/UpdateUserAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateChildAction</display-name>
    <servlet-name>UpdateChildAction</servlet-name>
    <servlet-class>mayaya.action.UpdateChildAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateChildAction</servlet-name>
    <url-pattern>/Actions/UpdateChildAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SimpleMainPageAction</display-name>
    <servlet-name>SimpleMainPageAction</servlet-name>
    <servlet-class>mayaya.action.SimpleMainPageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimpleMainPageAction</servlet-name>
    <url-pattern>/Actions/SimpleMainPageAction</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EncodingFilter</display-name>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>mayaya.util.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>NotificationAction</display-name>
    <servlet-name>NotificationAction</servlet-name>
    <servlet-class>mayaya.action.NotificationAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotificationAction</servlet-name>
    <url-pattern>/Actions/NotificationAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNotificationByIdAction</display-name>
    <servlet-name>GetNotificationByIdAction</servlet-name>
    <servlet-class>mayaya.action.GetNotificationByIdAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNotificationByIdAction</servlet-name>
    <url-pattern>/Actions/GetNotificationByIdAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadNotification</display-name>
    <servlet-name>UploadNotification</servlet-name>
    <servlet-class>mayaya.action.UploadNotification</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadNotification</servlet-name>
    <url-pattern>/Actions/UploadNotification</url-pattern>
  </servlet-mapping>
</web-app>